<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table  width="100%" border="1" cellpadding="4" cellspacing="0" >
        <caption>SEEEE! THIS IS MY CARS</caption>
        <tr>
            <td>brand</td>
            <td>model</td>
            <td>year</td>
        </tr>
        <tr th:each="car : ${tableList}">
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
        </tr>
    </table>
</body>
</html>